/* 
    Document   : certificateStyle
    Created on : Feb 17, 2011, 11:41:11 AM
    Author     : uzzal
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
  display: block;
}

#certificationContainer{
  height:700px;
}

.certificateContent{
  width:100%;
  margin-bottom:20px;
}

.certificateImageHolder{
  width:690px;
  float:left;
  padding-left:40px;
}

.certificateTextHolder{
  background:url(../images/img_1.jpg) repeat scroll top left transparent;
  width:210px;
  height:210px;
  float:right;
  margin:0px -20px 0px 0px;

  -moz-border-radius:0.7em 0.7em 0.7em 0.7em;
  -webkit-border-radius:0.7em 0.7em 0.7em 0.7em;
  border-radius:0.7em 0.7em 0.7em 0.7em;
  -moz-box-shadow:5px 5px 5px #888;
  -webkit-box-shadow:5px 5px 5px #888;
  box-shadow: 10px 10px 5px #888;
}

.certificateTextHolder h3{
  font-family:Arial,Trebuchet-MS,Helvetica,sans-serif;
  font-size:15px;
  font-weight:bold;
  padding-left:15px;
  color:#FFFFFF;
}

.certificateTextHolder p{
  font-family:Arial,Trebuchet-MS,Helvetica,sans-serif;
  font-size:12px;
  text-align:justify;
  font-weight:normal;
  line-height:18px;
  padding:5px 15px 5px 15px;
  color:#190710;
}

.certificatesImage{
  margin:0px 0 40px 70px;
  width:200px;
  float:left;
  padding:20px;
  background-color:thistle;
  -moz-border-radius:0.7em 0.7em 0.7em 0.7em;
  -webkit-border-radius:0.7em 0.7em 0.7em 0.7em;
  border-radius:0.7em 0.7em 0.7em 0.7em;

  -moz-box-shadow:0px 0px 20px 5px thistle;
  -webkit-box-shadow:0px 0px 20px 5px thistle;
  box-shadow: 0px 0px 20px 5px thistle;
}

/*################################# CONTACT US ################################*/
.contactText{  
  width:490px;
  margin:40px 0px 90px 300px;
}

.contactText h3{
  text-align:center;
  font-family:Arial,Trebuchet-MS,Helvetica,sans-serif;
  font-size:16px;
  color:#DF0174;
  background-color:#F2F2F2;
  margin-bottom:20px;
  padding:5px 0px 5px 0px;

  -moz-border-radius:0.7em 0.7em 0.7em 0.7em;
  -webkit-border-radius:0.7em 0.7em 0.7em 0.7em;
  -moz-box-shadow:2px 2px 11px 5px thistle;
  -webkit-box-shadow:2px 2px 11px 5px thistle;
  box-shadow:2px 2px 11px 5px thistle;

}

.contactText p{
  padding:10px 0px 10px 0px;
  text-align:center;
  font-family:cursive;
  font-size:12px;
  color:#424242;
  background-color:#F2F2F2;
  line-height:30px;

  -moz-border-radius:0.7em 0.7em 0.7em 0.7em;
  -webkit-border-radius:0.7em 0.7em 0.7em 0.7em;
  -moz-box-shadow:2px 2px 11px 5px thistle;
  -webkit-box-shadow:2px 2px 11px 5px thistle;
  box-shadow:2px 2px 11px 5px thistle;
}

.contactUS{
  padding:0px 5px 0px 5px;
  background-color:#F2F2F2;
  position:absolute;
  margin:-30px 0 0 320px;

  -moz-border-radius:0.7em 0.7em 0.7em 0.7em;
  -webkit-border-radius:0.7em 0.7em 0.7em 0.7em;
  border-radius:0.7em 0.7em 0.7em 0.7em;
  -moz-box-shadow:5px 5px 5px thistle;
  -webkit-box-shadow:5px 5px 5px thistle;
  box-shadow: 10px 10px 5px thistle;
}

.contactUS p{
  font-family:Arial,Trebuchet-MS,Helvetica,sans-serif;
  font-size:13px;
  font-weight:bold;
  color:#DF0174;
}

/*################################# CONTACT US ################################*/

/*********************************** ABOUT US ************************************/

.textsAboutUsHolder{
  font-family:Arial,Trebuchet-MS,Helvetica,sans-serif;
  padding:10px 50px 50px 60px;
}
.textsAboutUsHolder h3{  
  font-size:16px;
  color:#DF0174;
}

.textsAboutUsHolder p{
  font-size:12px;
  text-align:justify;
  line-height:20px;
  color:#000;
}

.backgroundImageHolder{
 position:absolute;
 background:url(../freedom_images/factory_1.jpg) no-repeat scroll top right transparent;
 height:520px;
 width:930px;
 opacity:0.3;
 margin:-4px 0 0 -60px;
}
/*********************************** ABOUT US ************************************/