/* 
    Document   : freedomHomeStyle
    Created on : Feb 14, 2011, 4:45:12 PM
    Author     : uzzal
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
  display: block;
}

body{
  background:url(../images/background_9.png) repeat-x scroll top left #000000;
  position:relative;  
}

.masterContainer{
  margin:0 auto;
  width:930px;
  background-color:#FFFFFF;
}

.homeContentWrapper{
  margin:-8px 0px 0px 0px;
}

.defaultHide{
  display:none;
}

/********************************* HEADER ********************************/
.headerPart {
  height: 80px;
  padding-bottom: 30px;
  width: 100%;
}

.logoContainer {
  float: left;
  margin-left: 2px;
  position: relative;
  width: 335px;
}

.logoContainer img{
  padding-top: 19px;
}

.logoContainer label {
  color: #8A084B;
  font-family: serif;
  font-size: 21px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: -0.8px;
  text-align: center;
  text-transform: capitalize;
}

.logoContainer div {
  left: 87px;
  position: absolute;
  text-align: center;
  top: 26px;
}

.menuContainer{
  background:url(../images/topblue.jpg) repeat-x scroll top left #08088A;
  width:593px;
  height:50px;
  float:right;
  margin-top: 26px;
}

.menuContainer ul{
  list-style:none;
  margin-left:0px;
  margin-top:12px;
}

.menuContainer ul li{
  display:inline;
  margin:0px 8px 0px 0px;
}

.menuContainer ul li a{
  font-family:Arail,Trebuchet-MS,Helvetica,Tahoma,sans-serif;
  font-size:13px;
  font-weight:bold;
  letter-spacing:-0.5px;
  color:#FFFFFF;
  text-decoration:none;
}

.menuContainer ul li a:hover{
  text-decoration:underline;
  color:#FE2E9A;
}

.menuContainer ul li a.activeTab{
  color:#FE2E9A;
}
/********************************* HEADER ********************************/

/********************************** BANNER *********************************/
.bannerPart{
  width:100%;
  height:290px;
}

.bannerSlideShow{
  background:url(../images/main_callout_bg.png) no-repeat scroll top left transparent;
  width:676px;
  height:288px;
  margin:0px 0px 0px -30px;
  float:left;
}

.bannerRightpart{
  background:url(../images/img_1.jpg) repeat scroll top left transparent;
  width:275px;
  float:right;
  margin-top:5px;
  margin-right:-20px;
  height:275px;

  -moz-border-radius:0.7em 0.7em 0.7em 0.7em;
  -webkit-border-radius:0.7em 0.7em 0.7em 0.7em;
  border-radius:0.7em 0.7em 0.7em 0.7em;
  -moz-box-shadow:5px 5px 5px #888;
  -webkit-box-shadow:5px 5px 5px #888;
  box-shadow: 10px 10px 5px #888;
}

.bannerRightpart p{
  margin:35px 15px 5px 15px;
  padding-bottom:10px;
  font-family:Arial,Trebuchet-MS,sans-serif,Helvetica;
  font-size:13px;
  line-height:18px;
  text-indent:inherit;
  color:#190710;  
  border-bottom:1px solid #FFFFFF;
}

.bannerRightpart label{  
  font-family:Arial,Trebuchet-MS,sans-serif,Helvetica;
  font-weight:bold;
  font-size:15px;
  text-indent:inherit;
  color:#000000;  
  margin-left:160px;
}

.bannerRightpart div{
  margin-top:110px;
  margin-left:70px;
  padding-right:15px;
  text-align:right;
}
.bannerRightpart label.a1{
  font-family:Arial,Trebuchet-MS,sans-serif;
  font-size:9px;
  margin-left:20px;
  text-align:left;
}

.contentLeft h3{
  font-family:Arial,Trebuchet-MS,sans-serif,Helvetica;
  font-size:16pt;
  color:#FFFFFF;;
  margin:20px 0px 10px 15px;
}

.contentLeft h4{
  font-family:Arial,Trebuchet-MS,sans-serif,Helvetica;
  font-size:12pt;
  color:#151515;
  margin:4px 0px 0px 15px;
}

.contentLeft p{
  margin:15px 15px 0px 15px;
  font-family:Arial,Trebuchet-MS,sans-serif,Helvetica;
  font-size:13px;
  line-height:20px;
  text-indent:inherit;
  color:#190710;
  text-align: justify;
}

/*************************** IMAGE SLIDER *******************************/
img{
  border:medium none;  
}

#bannerSlideShow .mainContents{
  margin:20px 0px 0px 20px;
}

.slideImageHolder{
  background-color:#000;
  width:420px;
  padding:10px;
  -moz-border-radius:0.7em 0.7em 0.7em 0.7em;
  -webkit-border-radius:0.7em 0.7em 0.7em 0.7em;
  border-radius:0.7em 0.7em 0.7em 0.7em;  
}

.thumbnails{
  position:absolute;  
  margin:-150px 0px 0px 475px;
}

.thumbnails ul{
  margin-left:-35px;
  margin-top:70px;
  list-style:none;
}
.thumbnails ul li{
  display: inline;  
}

.thumbnail_1{
  float:left;
  margin-right:4px;
  margin-bottom:10px;  
}

.thumbnail_2{
  float:left;
  margin-right:4px;    
}

.thumbnailContent{
  border:1px solid #FFFFFF;
}


.thumbnailContent:hover{
  border:1px solid #FA58AC;
}

.captions{
  font-family:cursive,sans-serif,Arial,Trebuchet-MS;
  font-size:13px;
  font-weight:bold;
  letter-spacing:1px;
  color:#000000;
  position:absolute;
  letter-spacing:0px;
  margin:-238px 0 0 440px;
  width:160px;
  height:120px;  
  padding:7px;
}

.activeProDtTmb{
  border:1px solid #FA58AC;
}
/********************************** BANNER *********************************/

/*################################## CONTENT PART ###########################*/
.variableContentPart{
  width:100%;
  height:400px;
  padding:20px 0px 20px 0px;
}

.contentLeft{
  background:url(../images/img_1.jpg) repeat scroll top left transparent;
  height:395px;
  width:300px;
  margin:0px 0px 0px -30px;
  float:left;

  -moz-border-radius:0.7em 0.7em 0.7em 0.7em;
  -webkit-border-radius:0.7em 0.7em 0.7em 0.7em;
  border-radius:0.7em 0.7em 0.7em 0.7em;

  -moz-box-shadow:-5px 5px 10px 0px #888888;
  -webkit-box-shadow:-5px 5px 10px 0px #888888;
  box-shadow: -5px 5px 10px 0px #888888;
}

.contentRight{
  background:url(../images/heart-2.jpg) no-repeat scroll top #FFFFFF;
  width:640px;
  float:right;
  height:390px;
  margin:0px -20px 0px 0px;

  -moz-border-radius:0.7em 0.7em 0.7em 0.7em;
  -webkit-border-radius:0.7em 0.7em 0.7em 0.7em;
  border-radius:0.7em 0.7em 0.7em 0.7em;
  /*  -moz-box-shadow:0 0px 5px 5px #c8005b;*/
  -moz-box-shadow:0 0px 20px 5px #FA58AC;
  -webkit-box-shadow:0 0px 20px 5px #FA58AC;
  box-shadow:0 0px 20px 5px #FA58AC;
}

.contentRightImageContainer{
  background-color:hotpink;
  height:310px;
  width:580px;
  padding:5px;
  margin:40px 0px 0px 30px;
}

/*################################## CONTENT PART ###########################*/

.footerPart{
  background:url(../images/topblue_1.jpg) repeat-x scroll top left #FFFFFF;
  width:100%;
  height:70px;  
}

.copyrightDiv{
  margin:0 auto;
  padding-top:25px;
  text-align:center;
  font-family:Arial,Trebuchet-MS,sans-serif;
  font-size:12px;
  font-weight:bold;
  letter-spacing:1px;
  color:#FFFFFF;
}

.copyrightDiv a{
  font-family:Arial,Trebuchet-MS,sans-aserif;
  font-size:13px;
  text-decoration:none;
  color:#15ADFF;
}

.clear{
  clear:both;
}
